<!--
  Generated template for the ChooseStagingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>分期办理</ion-title>
	</ion-navbar>

</ion-header>

<ion-content>

	<ion-list>
		<ion-item>
			<div item-start>办理区域</div>
			<div item-end>四川省成都市武侯区
				<ion-icon name="arrow-forward" class='iconRight'></ion-icon>
			</div>
		</ion-item>
		<ion-item>
			<div item-start>办理门店</div>
			<div item-end (click)="showType($event)">{{doorName}}
				<ion-icon name="arrow-forward" class='iconRight'></ion-icon>
			</div>
		</ion-item>
	</ion-list>
	<button class='doBtn' ion-button block color="danger" (click)='toStaging2()'>确认</button>
</ion-content>

<div class='Type' *ngIf='showtype'>
	<div class='typeList'>
		<div class="title">
			<div><span (click)='closeType($event)'>取消</span></div>
			<div>选择门店</div>
			<div><span (click)='closeType($event)'>确定</span></div>
		</div>
		<ul>
			<li *ngFor='let item of typeList' (click)='chooseType(item.name)' class='{{item.name==doorName?"isDoor":""}}'>
				{{item.name}}
			</li>
		</ul>
	</div>