page-staging {
    .content {
        background-color: #F7F7F7;
    }
    .list-ios .item-block .item-inner,
    .list-ios>.item-block:last-child {
        border-bottom: none;
    }
    .list-ios>.item-block:first-child {
        border-top: none;
    }
    .item-block,
    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
        border-bottom: 1px solid #E9E9E9
    }
    .firstList .item-block:last-child {
        border-bottom: none;
    }
    .firstList .item-ios [item-start] {
        color: #222;
        font-size: rem(32);
        font-weight: 500;
    }
    .firstList .item-ios [item-end] {
        color: #999;
        font-size: rem(28);
        font-weight: 500;
    }
    .two .label-ios {
        color: #222;
        font-size: rem(32);
        font-weight: bold;
    }
    ion-list {
        margin: 0;
        padding: 0 rem(30);
        display: block;
        list-style-type: none;
        background-color: #fff;
    }
    .item-ios [item-left],
    .item-ios [item-start] {
        display: flex;
        align-items: center;
        color: #666;
        font-size: rem(30);
        font-weight: 500;
    }
    .checkbox-ios .checkbox-icon {
        height: rem(36);
        width: rem(36);
    }
    .checkbox-ios .checkbox-checked .checkbox-inner {
        left: 5px;
        top: 1px;
        position: absolute;
        width: 7px;
        height: 11px;
        border-width: 2px;
        border-top-width: 0;
        border-left-width: 0;
        border-style: solid;
        border-color: #fff;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .item-ios [item-right],
    .item-ios [item-end] {
        margin: 8px 0;
        display: flex;
        align-items: center;
        color: #222;
        font-size: rem(30);
        font-weight: 500;
        span {
            color: #999;
            font-size: rem(26);
        }
    }
    .item-ios,
    .item-ios.item-block .item-inner {
        padding: 0
    }
    .doBtn {
        width: 92%;
        margin-left: 4%;
        background-color: #E65D4B;
        font-size: rem(34);
    }
    .iconRight {
        color: #999999;
        margin-left: rem(20)
    }
    ion-item {
        font-size: rem(32);
        color: #222
    }
    //选择面板
    .Type {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        background: rgba(0, 0, 0, 0.3);
        .typeList {
            position: fixed;
            background-color: #fff;
            width: 100%;
            height: auto;
            bottom: 0;
            border-top-left-radius: rem(26);
            border-top-right-radius: rem(26);
            .title {
                height: rem(116);
                line-height: rem(116);
                border-bottom: 1px solid #f2f2f2;
                display: flex;
                align-items: center;
            }
            .title div {
                flex: 1;
                font-size: rem(32);
                font-weight: 500;
                padding: 0 rem(30);
            }
            .title div:nth-child(1) {
                color: #222222;
                font-size: rem(36);
                font-weight: bold;
            }
            .title div:nth-child(2) {
                text-align: right;
            }
            .title div:nth-child(2) img {
                height: rem(30);
                width: rem(32);
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0 rem(30);
                overflow-y: scroll;
                li {
                    color: #222;
                    font-size: rem(30);
                    font-weight: 500;
                    height: rem(100);
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #E9E9E9;
                    img {
                        vertical-align: middle;
                        margin-right: rem(28);
                        height: rem(56);
                        width: rem(56);
                    }
                    .typeIcon {
                        float: right;
                    }
                    .left {
                        flex: 1
                    }
                }
            }
        }
    }
    .doBtn2 {
        margin-top: rem(80);
        margin-bottom: rem(30);
    }
}